.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to (image_tag @user.avator, width: "64px", height: "64px", alt: "#{@user.nickname}", class: "media-object"), user_path(@user)
      .media-body
        %h4#top-aligned-media.media-heading
          = @user.nickname
          %span.label.label-default.project-number
            = @prototypes.count
            %i Projects
        .proto-user
          %span.degree #{@user.team}
        .row
          .col-md-6
            %h4 Profile
            %p #{@user.profile}
          .col-md-6
            %h4 Works
            %p #{@user.work}
.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  = paginate(@prototypes)

